fastapi
uvicorn[standard]
python-multipart
pillow
opencv-python
numpy
pytesseract
rembg
ultralytics    # YOLOv8
scikit-image
scikit-learn   # for simple embeddings / semantic checks
deap
torch          # for yolov8 backend & optional aesthetic model
tensorflow
